# --- ENV / CONFIG ---
.env
config.php
database.php
system/config/database.php

# --- RUNTIME DATA ---
/storage/*
!/storage/.gitkeep

/logs/*
!/logs/.gitkeep

/cache/*
!/cache/.gitkeep

/uploads/*

/meta/*

/grandys_stash/

/storage/runtime/

/storage/runtime/*

# --- OS FILES ---
.DS_Store

# --- TEMP FILES ---
*.log
*.tmp
